body {
    font-family: sans-serif;
}
main {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /*
        sur les balises enfants directe de main => balises section 
        je veux que chaque balise section prenne 1/3 de la largeur disponible 
        et en plus je veux qu'il y ait un gap (gouttière) de 20px entre chaque colonne qui prend 1/3 de l'espace 
    */
}
img {max-width: 100%;}